section {
  /* min-height: 100vh; */
  padding: 120px 15px 120px 15px;
}

#landing {
  background-image: url(../../assets/landingBgMobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-content-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-desktop {
  display: none;
}
.shop-profile-img {
  margin: 50px 0 50px 0;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  object-fit: cover;
}

.landing-btn {
  background-color: #fcfcff;
  padding: 15px 38px;
  border-radius: 30px;
}

/* Newest Section */

#newest {
  background-color: #fcfcff;
  background-image: url("../../assets/grid-background.png");
  /* background-repeat: none; */
  background-size: contain;

}

.new-item {
  background-color: #d1cbff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 20px 14px 21px 20px;
  margin: 0 auto 25px auto;
  max-width: 700px;
  min-height: 219px;
  max-height: 330px;
}
.new-item-img-wrapper {
  width: 70%;
  margin-right: 15px;
  overflow: hidden;
}
.new-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.new-item-content {
  text-align: left;
  position: relative;
}
.new-item-price{
  font-size: 22px;
}
.new-item-content a {
  background-color: #8c85dc;
  color: #fcfcff;
  position: absolute;
  bottom: 0;
  padding: 15px 30px;
  border-radius: 7px;
  border: #8c85dc solid 2px;
  transition: 0.4s;
}
.new-item-content a:hover{
  background-color: transparent;
  border: #8c85dc solid 2px;
  color: #8c85dc;
  transform: scale(1.03);
}
.new-item-content h3 {
  margin-bottom: 20px;
}

.new-item-collection {
  text-align: left;
  max-width: 700px;
  margin: 0 auto 25px auto;
}
.new-item-collection button {
  background-color: transparent;
}
.new-item-collection img {
  object-fit: cover;
  width: 100%;
  min-height: 170px;
  max-height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* most popular */

#most-popular {
  background-color: #D9DFFF;
  align-items: center;
}
.popular-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.popular-product-container .item-card {
  width: 100%;
  max-width: none;
  margin: 0 0 25px 0;
}
#most-popular h2 {
  margin-bottom: 50px;
}

@media only screen and (min-width: 880px) {
  #landing {
    position: relative;
    min-height: 60vh;
    padding: 0;
    background-color: #faf7f7;
    background-image: none;
  }
  .landing-desktop {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .landing-content-mobile {
    display: none;
  }
  .landing-content-desktop {
    position: absolute;
    left: 15%;
    top: 25%;
    text-align: left;
  }
  .landing-desktop img {
    display: block;
    margin-left: auto;
    width: 63%;
    height: 75vh;
    object-fit: cover;
    object-position: 25% 37%;
  }
  .landing-title {
    text-align: left;
  }
  .landing-title h1 {
    font-size: 2.5vw;
  }
  .landing-title h3 {
    font-size: 1.5vw;
  }
  .landing-btn {
    display: block;
    width: 70%;
    padding: 5% 11%;
    margin-top: 20%;
    background-color: #8c85dc;
    text-align: center;
    color: #fcfcff;
    font-size: 1vw;
    border: #8c85dc solid 2px;
    transition: 0.9s;
  }
  .landing-btn:hover{
    background-color: transparent;
    border: #8c85dc solid 2px;
    color: #8c85dc;
  }
  .landing-btn a:hover {
    color: #1f1f6e;
    font-size: 1vw;
  }
  /* most popular */
  .popular-product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .popular-product-container .item-card {
    width: auto;
    text-align: left;
    margin: 0 25px 25px 25px;
  }
}
