#about-me {
  margin: auto;
  max-width: 850px;
}
.about-me-desc {
  max-width: 700px;
  margin: auto;
  text-align: left;
}
.about-me-desc h2 {
  margin-bottom: 15px;
}
.about-me-desc h2 span{
  font-size: 28px;
  display: inline;
  margin: 0;
}
.about-me-desc h3 {
  margin-bottom: 40px;
}
.about-me-desc span {
  display: block;
  margin-bottom: 60px;
}
.about-me-img {
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  border-radius: 30px;
  margin-bottom: 24px;
  object-fit: cover;
}
.instagram-title {
  display: block;
  margin: 62px 0 15px 0;
}
.instagram-img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instagram-card {
  width: 29%;
  position: relative;
  margin: 5px;
  min-height: 160px;
  max-height: 250px;
}
.instagram-card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.instagram-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: #302f31;
}

.instagram-card:hover .overlay {
  opacity: 50%;
}

@media only screen and (min-width: 880px) {
  .about-me-content{
    display: flex;
    position: relative;
  }
  .about-me-desc{
    margin-right: 60px;
  }
  .about-me-content .socials-links{
    position: absolute;
    bottom: 20px;
  }
}
