#prints-page{
  /* background-image: url("../../assets/grid-background.png"); */
}
.prints-container{
  display: flex;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  
}