@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App,body{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #574F85;
}
button{
  font-family: inherit;
  font-weight: bold;
  color: #574F85;
  font-size: 16px;
  border-style: none;
}

h1{
  font-size: 34px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 20px;
}
a, span{
  font-size: 16px;
  text-decoration: none;
  color: #574F85;
}
a:hover{
  transition: 0.3s;
}
section {
  min-height: 100vh;
  padding: 120px 15px 120px 15px;

}

#landing{
  background-color: #C6CEF6;
  padding: 0;
}

.landing-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-profile-img{
  margin: 50px 0 50px 0;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  object-fit: cover;
}

.landing-btn{
  background-color: #FCFCFF;
  padding: 15px 38px;
  border-radius: 21px;
}

/* Newest Section */

#newest{
  background-color: #FCFCFF;
  background-image: url('./assets/grid-background.png');
  background-repeat: none;
}
#newest h2{
  margin-bottom: 50px;
}
.new-item{
  background-color: #D1CBFF;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 30px 18px;
  margin: 0 auto 25px auto;
  max-width: 700px;
  height: 330px;

}
.new-item img{
  width: 55%;
  max-height: 300px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 10px;
}
.new-item-content{
  text-align: left;
  position: relative;
}
.new-item-content button{
  background-color: #8C85DC;
  color: #FCFCFF;
  position: absolute;
  bottom: 0;
  padding: 15px 30px;
  border-radius: 7px;
}
.new-item-content h3{ 
  margin-bottom: 20px;
}

.new-item-collection{
  text-align: left;
  max-width: 700px;
  margin: 0 auto 25px auto;
}
.new-item-collection button{
  background-color: transparent;
}
.new-item-collection img{
  object-fit: cover;
  width: 100%;
  min-height: 170px;
  max-height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* most popular */

#most-popular{
  background-color: #C6CEF6;
}

#most-popular h2{
  margin-bottom: 50px;
}

/* collection */
#collection{
 background-color: #F3DBDC;
}

#collection h2{
  margin-bottom: 50px;
}

.collection-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 700px;
  margin: auto;
}
.col {
  width: 100%;
  margin-bottom: 20px;
}
.col img{
  object-fit: cover;
  width: 100%;
  min-height: 170px;
  max-height: 330px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.group{
  display: flex;
  justify-content: space-between;
}
.group .col {
  width: 48%;
}

.col-2 img{
  max-height: 166px;
}

.col-3 img{
  max-height: 150px;
}

