/* footer */

#footer{
  background-color: #CBD3FF;
  min-height: 0vh;
  height: 500px;
  background-image: url(../assets/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.footer-links{
  margin: 20px 0;
  display: flex;
  padding-left: 30px;
  justify-content: center;
}
.footer-links span{
  font-size: 16px;
  white-space: nowrap;
  color: #8C85DC;
  margin: 0 17px;
}

.copyright-container span{
  display: block;
}